@font-face {
  font-family: elegantType;
  src: url(../../fonts/ELEGANT\ TYPEWRITER\ Regular.ttf);
}

@media screen and (max-width: 500px) {
  nav {
    height: 4rem !important ;
  }
  .inputdiv {
    width: 100%;
    text-align: left;
  }

  .login_form, .form_entry {
    width: 90% !important;
  }

  label {
    position: static !important;
  }

  .modal-dialog {
    padding: 1vh !important;
    overflow: hidden;
  }

  .signup_form {
    width: 90% !important;
  }

  .signupError {
    width: 80% !important;
    overflow: hidden;
  }
}

@media screen and (max-width: 900px) {
  #frontPage_image {
    float: none !important;
    width: 100% !important;
  }

  #frontPage_text {
    width: 100% !important;
    position: absolute;
    margin-top: 20rem !important;
    margin: 0 auto;
  }
}

* {
  margin: 0;
  padding: 0;
}

.center_item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center_item_vertically {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#list_item_ {
  border-radius: 5px;
  color: white;
  padding: 1vh;
  transition: background-color 0.3s ease-in-out;
  padding: display: flex;1vh;
  text-decoration: none;
}

#list_item_:hover {
  background-color: #DB8A74;
}

ul.main-ul-container {
  list-style: none;
  margin: 0 auto;
  display: flex;
}

ul.main-ul-container li {
  float: left;
  display: flex;
}

ul.main-ul-container li:first-child {
  margin-right: 2vh;
}

.homeButton-container {
  float: left;
  display: flex;
}

nav {
  z-index: 99;
  top: 0;
  /*opacity: 0.5;*/
  background-color: #444054;
  padding: 0.5rem 0;
  position: fixed;
  width: 100%;
  height: 3rem;
}

#navbar_ {
  width: 90%;
  margin: 0 auto;
}


div.form {
  margin-top: 5rem !important;
  border-radius: 1rem;
  padding: 15px;
  margin: 0 auto;
  width: 35%;
}

#login_signup_ {
  display: flex;
  float: right;
}

#login_dropdown_ {
  border-radius: 50%;
  border: 1px solid black;
  padding: 0.5vh;
  float: right;
  display: none;
}

#login_dropdown_:hover .userDropDown {
  display: block;
}

.userDropDown li a {
  text-decoration: none;
  padding: 1vh 0;
}

.userDropDown hr {
  margin: 1vh 0;
}

.userDropDown {
  display: none;
  position: absolute;
  z-index: -99;
  padding: 3vh 1vh;
  width: 6%;
  overflow: hidden;
  transition: display 2s;
  background-color: #EDEDED;
}

.signupError {
  border: 1px solid #FFA0A0;
  width: 50%;
  height: auto;
  padding: 2vh;
  margin: 2rem auto;
  text-align: center;
  position: relative;
  margin-top: 5vh;
  display: none;
  background-color: #FFE2E2;
  border-radius: 1rem;
  opacity: 0;
  transition: opacity 2s;
}

.info_div {
  border: 1px solid #00FFFF;
  width: 50%;
  height: auto;
  padding: 2vh;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 7rem;
  display: none;
  background-color: #E2FFFF;
  border-radius: 1rem;
}

.signupFormHeader {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-top: 6rem;
  padding: 2vh 0;
}

.signupFormFields {
  width: 70%;
  margin: 0 auto;
}

.login_form {
  margin: 0 auto;
  top: 55%;
  width: 30rem;
  padding: 1vh;
}

.modal {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-dialog {
  background-color: white;
  padding: 5vh;
  top: 30%;
  border-radius: 15px;
}

.modal-title, .modal-text {
  text-align: center;
  padding: 2vh 0;
}

.modal-footer {
  width: 20rem;
  text-align: center;
  margin: 0 auto;
}

.form_entry {
  display: flex;
  margin: 0 auto;
  position: relative;
}

.center_form_entry {
  margin: 0 auto;
  position: relative;
  padding: 1vh;
  display: flex;
}

.labeldiv {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  text-align: left;
  display: flex;
}

.inputdiv {
  position: relative;
  height: 100%;
  width: 50%;
  float: right;
  display: flex;
}

.remember_check {
  margin-left: 2vh;
}

input[type="checkbox"] {
  margin: 0 auto;
}

label {
  padding: 1vh 0;
  width: 100%;
  height: 100%;
}

input[type="email"], input[type="password"],
input[type="text"] {
  height: 5vh;
  width: 100%;
  margin: 0 auto;
}

input[type="date"] {
  height: 5vh;
  margin: auto;
}

.rememberdiv {

}

.login_pass {
  top: 13rem;
}

.login_button_div {
  text-align: center;
}

button[type="submit"], button[type="button"] {
  margin: auto;
  height: 4vh;
  width: 10vh;
}

.signup_form {
  width: 30rem;
  margin: 0 auto;
  padding: 1vh;
}

.signup_form form {
  margin: 0 auto;
  width: 90%;
}

.signup_input {
  padding: 2vh;
  margin: 0 auto;
  width: 100%;
  display: flex;
}

.someSpace {
  padding: 1vh 0;
}

.main_container {
  z-index: -1;
  height: auto;
  width: 90%;
  margin: 6rem auto 3rem auto;
  position: relative;
  display: flex;
}

#frontPage_image {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

#frontPage_text {
  width: 60%;
  height: auto;
  text-align: center;
}

#frontPage_text pre {
  border: 1px solid black;
  width: 80%;
  font-size: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.profileTableContainer {
  margin: 3rem 10rem;
  overflow: hidden;
}

.profileOptionsContainer {
  width: 15%;
  float: left;
  height: 100%;
}

.profileOption {
  height: 5rem;
  width: 100%;
  cursor: pointer;
  padding: 2rem;
  text-align: center;
}

.profileOption:hover {
  background-color: #EFEFEF;
}

.profileDataContainer {
  float: left;
  height: 100%;
  width: 85%;
}

.imageBlock {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  width: 15rem;
}

.centeredImage {
  display: flex;
  justify-content: center;
}

.sessionEmail {
  text-align: center;
}

.editPhoto {
  position: absolute;
  margin-top: 8rem;
  margin-left: 10rem;
}

.editPhoto input {
  background-color: white;
}

#save {
  position: absolute;
  top: 90%;
  left: 90%;
}
